<!-- Comments -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Comments</h3>
            </div>
            <div class="panel-body">
                <div class="title" ng-hide="comments && comments.length > 0">
                    <span>NO COMMENT ABOUT THIS TASK</span>
                </div>
                <br>
                <div class="row" ng-repeat="comment in comments">
                    <div class="col-md-1">
                        <img ng-src="{{comment.gravatar}}" class="img-circle comment gravatar">
                    </div>
                    <div class="col-md-11">
                        <div class="well well-sm cmt">
                            <span class="cmt-title">{{comment.name}}: </span>
                            <span class="cmt-time pull-right"><span am-time-ago="{{comment.datetime}}"></span></span>
                            <br>
                            <span>{{comment.content}}</span>
                        </div>
                    </div>
                </div><br>
                <div class="row" ng-if="isOpen(selectedTask)">
                    <div class="col-md-12">
                        <form ng-submit="addComment(comment)">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <img ng-src="{{user.profile.gravatar}}" class="img-circle comment gravatar">
                                </div>
                                <input type="text" col="10" rows="3" required placeholder="Comment here..." class="form-control" ng-model="comment.content" >
                            </div>
                            <span class="pull-right">
                                <input type="submit" value="Comment" class="btn btn-primary">
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
